altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.5.2
async-generator==1.10
attrs==20.3.0
autopep8==1.5.4
backcall==0.2.0
base58==2.1.0
bleach==3.3.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1613414140225/work
chardet @ file:///D:/bld/chardet_1610093646853/work
click==7.1.2
colorama==0.4.4
cryptography @ file:///D:/bld/cryptography_1616851649655/work
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
gitdb==4.0.7
GitPython==3.1.14
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.8.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.20.2
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==8.1.2
plotly==4.14.3
plotly-express==0.4.1
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.15.6
pyarrow==3.0.0
pycodestyle==2.6.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck==0.6.1
Pygments==2.8.1
pylint==2.7.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks @ file:///D:/bld/pysocks_1610291742246/work
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pywinpty==0.5.7
pyzmq==22.0.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-futures @ file:///home/conda/feedstock_root/build_artifacts/requests-futures_1596777502329/work
retrying==1.3.3
scipy==1.6.2
Send2Trash==1.5.0
six==1.15.0
smmap==4.0.0
statsmodels==0.12.2
streamlit==0.79.0
terminado==0.9.4
testpath==0.4.4
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
tzlocal==2.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
validators==0.18.2
watchdog==2.0.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
